/* style.css */
/* Modo claro "no me alcanza el tiempo para esa lógica" 
:root {
  --primary-color: #EDE9DF;
  --secondary-color: #0F0F0F;
  --yellow-light: #F5F08C;
  --yellow-sature: #F7EF1D;
} */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --primary-color: #0F0F0F;
  --secondary-color: #EDE9DF;
  --yellow-light: #F7EF1D;
  --yellow-sature: #F5F08C;
  
}

@media (max-width: 768px) { /*Celuares pequeños y muy pequeños*/
  :root{
    font-size: clamp(1rem, 3.5vw, 7vw);
  }
}

@media (max-width: 1024px) and (min-width: 768px) { /*Tablets*/
  :root{
      font-size: clamp(1rem, 2vw, 4vw);
  }
}

body {
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

h1{
  text-align: center;
}

.container{
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content{
  padding: 3ex 6ch;
  box-shadow: 0rem 0rem .25rem #555;
  margin-left: 1%;
  margin-right: 1%;
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.inputs{
  border-radius: .5rem;
  border:1px solid var(--primary-color) ;
  margin-bottom: 2rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.selects{
  border-radius: .5rem;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content p{
  overflow: hidden;
}

.content:hover{
  box-shadow: inset .25rem .25rem .625rem var(--yellow-sature);
}

.doubleCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-bottom: 10%;
}

.calculus{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.calculus button{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.inputs, 
.selects, 
.calculus button{
  padding: 2ex 2ch;
}

.calculus button:hover{
  box-shadow: 0rem 0rem 1rem #555;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}